.container {
    color: white;
    padding: 20px;
}
.albumArt {
    width: 20%;
    height: 20%;
}
.album {
    font-style: italic;
}

.buttonAdd {
    background-color: darkorchid;
    color:rgb(245, 168, 255);
    border: rgb(245, 168, 255) 1px solid;
    border-radius: 5px;
}

.buttonAdd:hover {
    cursor: pointer;
}

.buttonRemove:hover {
    cursor: pointer;
}

.buttonRemove {
    background-color: darkblue;
    color:rgb(245, 168, 255);
    border: rgb(245, 168, 255) 1px solid;
    border-radius: 5px;
}

.buttonPlay {
    background-color: darkorchid;
    color:rgb(245, 168, 255);
    border: rgb(245, 168, 255) 1px solid;
    border-radius: 5px;
    margin-left: 5px;
}

.buttonPlay:hover {
    cursor: pointer;
}

.trackBox {
    display: flex;
    align-items: center;
}

.trackInfo {
    margin-left: 10px;
}