.container {
    background-color: darkblue;
}

.body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, darkorchid, darkblue);
}

.footer {
    display: flex;
}