.container {
    background-color: darkblue;
}

.body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, darkorchid, darkblue);
}

.footer {
    display: flex;
}

.icon {
    width: 10%;
    height: auto;
}

.footertext {
    color: rgb(245, 168, 255);
    font-size: 20px;
};