.container {
    background-color: rgb(25, 3, 28);
    position: relative; /* Ensure the container is the reference for absolute positioning */
}

.wrapper {
    position: relative;
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.imgDynamic {
    position: absolute;
    height: auto;
    top: 20%; /* Final top value from the animation */
    left: 42.5%; /* Final left value from the animation */
    width: 8%;
    animation: moveAndRotate 2s forwards, pulse 1s infinite 2s;
}

.imgStat {
    position: relative;
    height: auto;
    width: 35%;
    left: 32.7%;
    top: 14%; /* Match the final top value of .imgDynamic */
}

@keyframes moveAndRotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        top: 20%; /* Final top value */
        left: 42.5%; /* Final left value */
        transform: rotate(180deg);
    }
}

@keyframes pulse {
    0% {
        transform: rotate(180deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(180deg) scale(1);
    }
}
