.container {
    background: linear-gradient(0deg, rgb(117, 30, 160), rgb(25, 3, 28) 50%) no-repeat;
    position: relative; /* Ensure the container is the reference for absolute positioning */
}

.wrapper {
    position: relative;
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.imgDynamic {
    position: absolute;
    height: auto;
    top: 20%; /* Final top value from the animation */
    left: 5.4%; /* Final left value from the animation */
    width: 3.2%;
    animation: moveAndRotate 2s forwards, pulse 1s infinite 2s;
}

.imgStat {
    position: relative;
    height: auto;
    width: 15%;
    left: 1%;
    top: .5%; /* Match the final top value of .imgDynamic */
    object-fit: cover;
}

@keyframes moveAndRotate {
    0% {
        top: 20%;
        left: 45vw;
        transform: rotate(0deg);
        height: auto;
        width: 8%;
    }
    100% {
        top: 20%; /* Final top value */
        left: 5.4%; /* Final left value */
        transform: rotate(180deg);
        height: auto;
        width: 3.2%;
    }
}

.headline {
    color: rgb(245, 168, 255);
    position: absolute;
    top: 40px;
    left: 20%;
}

@keyframes pulse {
    0% {
        transform: rotate(180deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(180deg) scale(1);
    }
}
