.SearchBar {
    color: rgb(148, 2, 148);
    font: sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10px;
    border: 4px solid transparent;
}


.SearchBar:hover {
    cursor: text;
    animation: gradientHover 1s forwards linear;
}

.container {
    background-color: rgb(25, 3, 28);
    text-align: center;
}

.Search {
    margin-left: 20px;
    background-color: rgb(148, 2, 148);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: none;
}

@keyframes gradientHover {
    0% { 
        color:rgb(148, 2, 148);
        background: linear-gradient(white, white) padding-box;
    }
    50% { 
        color: rgb(148, 2, 148);
        background: linear-gradient(to right, darkblue, white) padding-box;
    }
    100% {
        color: white;
        background: linear-gradient(to right, darkblue, darkorchid) padding-box;
    }
}