.Login {
    color: rgb(245, 168, 255);
    font: sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10%;
    border: none;
    position: absolute;
    top: 40px;
    right: 40px;
}


.Login:hover {
    cursor: pointer;
}

.container {
    background: linear-gradient(rgb(117, 30, 160), darkorchid);
    text-align: center;
    padding: 50px;
}

.userId {
    color:rgb(245, 117, 245);
    position: absolute;
    top: 25px;
    left: 20%;
}

.userIdSpan {
    font-weight: bold;
}

.p {
    color: rgb(245, 168, 255);
    font-size: 20px;
    padding-bottom: 20px;
}

@keyframes gradientHover {
    0% { 
        color:rgb(148, 2, 148);
        background: linear-gradient(white, white) padding-box;
    }
    50% { 
        color: rgb(148, 2, 148);
        background: linear-gradient(to right, darkblue, white) padding-box;
    }
    100% {
        color: white;
        background: linear-gradient(to right, darkblue, darkorchid) padding-box;
    }
}